* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('bg.png');
  background-repeat: no-repeat;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none;
}
::selection {
    background-color: transparent;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    text-shadow: 3px 3px 3px #000;
}
.game {
    background: url('desert.png');
    margin-top: 50px;
    width: 500px;
    height: 250px;
    border: 1.5px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
.score-display {
    font-weight: bold;
}
.player {
    width: 80px;
    height: 80px;
    background-color: transparent;
    position: relative; 
    top: 150px;
    z-index: 1;
}
.jumpAnimation {
    animation: jump 0.6s;
}
@keyframes jump {
    0% {top: 200px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 200px;}
}
.obstacle {
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: relative;
    top: 120px;
    left: 480px;
    animation: obstacleRun 1s infinite;
    filter: brightness(50%);
    z-index: 0;
}
@keyframes obstacleRun {
    0% {left: 480px;}
    100% {left: -40px;}
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.refresh {
    margin-top: 10px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to top, yellow, orange);
}